Receiver/orders.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="order">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:unsignedByte" />
        <xs:element name="orderDate" type="xs:date" />
        <xs:element name="travelers">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="traveler">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="firstName" type="xs:string" />
                    <xs:element name="id" type="xs:unsignedByte" />
                    <xs:element name="lastName" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="trips">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="trip">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="cost" type="xs:unsignedShort" />
                    <xs:element name="id" type="xs:unsignedByte" />
                    <xs:element name="location" type="xs:string" />
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="organizationName" type="xs:string" />
                    <xs:element name="tripDuration" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>